<h1>Kingdoms Level Generator</h1>
<div id='output'>Output will be here</div>
<canvas id='canvas' width='620' height='500' style='border: 1px solid black;'></canvas>
<div>
<button onclick='current="air";'>Air</button>
<button onclick='current="dirt";'>Dirt</button>
<button onclick='current="grass";'>Grass</button>
<button onclick='current="grasses";'>Grasses</button>
<button onclick='current="stone"'>Stone</button>
<button onclick='current="water_shallow";'>Water(shallow)</button>
<button onclick='current="water_deep";'>Water(deep)</button>
<button onclick='current="chest";'>Chest</button>
<button onclick='current="cave";'>Cave Background</button>
<button onclick='grid=!grid;'>Grid(On/Off)</button>
For speacial features, like invis, tell me the coordinances of the tank.
</div>
<script>
try {
var canvas = document.getElementById('canvas');
var draw = canvas.getContext('2d');
var mousepos = [-1, -1];
var level = [];
var l = 0;
while (l<25) {
  level.push('0000000000000000000000000000000');
  l++;
}
var scale = 20;
var current = 'air';
var grid = true;
/* player ai_n ai_s ai_d ai_c wall strong weak void*/
var placing = false;
canvas.addEventListener('mousedown', function() {
  placing = true;
});
canvas.addEventListener('mouseup', function() {
  placing = false;
});
canvas.addEventListener('mousemove', function(e) {
  if (!placing) return;
  var x = e.pageX - canvas.offsetLeft;
  var y = e.pageY - canvas.offsetTop;
  x = (x-x%scale)/scale;
  y = (y-y%scale)/scale;
  if (current == 'air') {
    var l = 0;
    while (l<level.length) {
      level[l] = level[l].split('');
      var q = 0;
      while (q<level[l].length) {
        if (level[l][q] == '0') {
          level[l][q] = '0';
        }
        q++;
      }
      level[l] = level[l].join('');
      l++;
    }
    level[y] = level[y].split('');
    level[y][x] = '0';
    level[y] = level[y].join('');
  }
  if (current == 'dirt') {
    level[y] = level[y].split('');
    level[y][x] = '1';
    level[y] = level[y].join('');
  }
  if (current == 'grass') {
    level[y] = level[y].split('');
    level[y][x] = '2';
    level[y] = level[y].join('');
  }
  if (current == 'grasses') {
    level[y] = level[y].split('');
    level[y][x] = '3';
    level[y] = level[y].join('');
  }
  if (current == 'stone') {
    level[y] = level[y].split('');
    level[y][x] = '4'
    level[y] = level[y].join('');
  }
  if (current == 'water_shallow') {
    level[y] = level[y].split('');
    level[y][x] = '5';
    level[y] = level[y].join('');
  }
  if (current == 'water_deep') {
    level[y] = level[y].split('');
    level[y][x] = '6';
    level[y] = level[y].join('');
  }
  if (current == 'chest') {
    level[y] = level[y].split('');
    level[y][x] = '7';
    level[y] = level[y].join('');
  }
  if (current == 'cave') {
    level[y] = level[y].split('');
    level[y][x] = '#';
    level[y] = level[y].join('');
  }
  if (current == 'stone_bricks') {
    level[y] = level[y].split('');
    level[y][x] = '9';
    level[y] = level[y].join('');
  }
});
canvas.addEventListener('mousedown', function(e) {
  var x = e.pageX - canvas.offsetLeft;
  var y = e.pageY - canvas.offsetTop;
  x = (x-x%scale)/scale;
  y = (y-y%scale)/scale;
  if (current == 'air') {
    var l = 0;
    while (l<level.length) {
      level[l] = level[l].split('');
      var q = 0;
      while (q<level[l].length) {
        if (level[l][q] == '0') {
          level[l][q] = '0';
        }
        q++;
      }
      level[l] = level[l].join('');
      l++;
    }
    level[y] = level[y].split('');
    level[y][x] = '0';
    level[y] = level[y].join('');
  }
  if (current == 'dirt') {
    level[y] = level[y].split('');
    if (level[y][x] == '1') {
      level[y][x] = '0'; 
    } else {
      level[y][x] = '1';
    }
    level[y] = level[y].join('');
  }
  if (current == 'grass') {
    level[y] = level[y].split('');
    if (level[y][x] == '2') {
      level[y][x] = '0';
    } else {
      level[y][x] = '2';
    }
    level[y] = level[y].join('');
  }
  if (current == 'grasses') {
    level[y] = level[y].split('');
    if (level[y][x] == '3') {
      level[y][x] = '0';
    } else {
      level[y][x] = '3';
    }
    level[y] = level[y].join('');
  }
  if (current == 'stone') {
    level[y] = level[y].split('');
    if (level[y][x] == '4') {
      level[y][x] = '0';
    } else {
      level[y][x] = '4'
    }
    level[y] = level[y].join('');
  }
  if (current == 'water_shallow') {
    level[y] = level[y].split('');
    if (level[y][x] == '5') {
      level[y][x] = '0';
    } else {
      level[y][x] = '5';
    }
    level[y] = level[y].join('');
  }
  if (current == 'water_deep') {
    level[y] = level[y].split('');
    if (level[y][x] == '6') {
      level[y][x] = '0';
    } else {
      level[y][x] = '6';
    }
    level[y] = level[y].join('');
  }
  if (current == 'chest') {
    level[y] = level[y].split('');
    if (level[y][x] == '7') {
      level[y][x] = '0';
    } else {
      level[y][x] = '7';
    }
    level[y] = level[y].join('');
  }
  if (current == 'cave') {
    level[y] = level[y].split('');
    if (level[y][x] == '#') {
      level[y][x] = '0';
    } else {
      level[y][x] = '#';
    }
    level[y] = level[y].join('');
  }
})
document.addEventListener('mousemove', function(e) {
  var x = e.pageX - canvas.offsetLeft;
  var y = e.pageY - canvas.offsetTop;
  x = (x-x%scale)/scale;
  y = (y-y%scale)/scale;
  mousepos = [x, y];
});
document.addEventListener('keydown', function(e) {
  if (e.key == 'Enter') {
    var compiledLevel = '[';
    var l = 0;
    while (l<level.length) {
      compiledLevel += "'"+level[l]+"',";
      l++;
    }
    compiledLevel = compiledLevel.split('');
    compiledLevel.pop();
    compiledLevel = compiledLevel.join('');
    compiledLevel += '],';
    document.getElementById('output').innerHTML = '<pre>'+compiledLevel+'</pre>';
  }
});
function render() {
  draw.clearRect(0, 0, 500, 500);
  draw.fillStyle = '#f8f82f';
  draw.fillRect(0, 0, 620, 500);
  if (grid) {
    var l = 0;
    while (l<31) {
      draw.strokeStyle = '#000000';
      draw.beginPath();
      draw.moveTo(l*scale, 0);
      draw.lineTo(l*scale, 500);
      draw.stroke();
      l++;
    }
    var l = 0;
    while (l<25) {
      draw.strokeStyle = '#000000';
      draw.beginPath();
      draw.moveTo(0, l*scale);
      draw.lineTo(620, l*scale);
      draw.stroke();
      l++;
    }
  }
  draw.fillStyle = '#A9A9A9';
  draw.fillRect(mousepos[0]*scale, mousepos[1]*scale, scale, scale);
  var l = 0;
  while (l<level.length) {
    var q = 0;
    while (q<level[l].length) {
      if (level[l][q] == '0') {
        draw.fillStyle = 'lightblue';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '1') {
        draw.fillStyle = '#B5651D';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '2') {
        draw.fillStyle = 'green';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '3') {
        draw.fillStyle = 'lightgreen';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '4') {
        draw.fillStyle = 'gray';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '5') {
        draw.fillStyle = 'blue';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '6') {
        draw.fillStyle = 'darkblue';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '7') {
        draw.fillStyle = 'gold';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      if (level[l][q] == '#') {
        draw.fillStyle = 'darkgray';
        draw.fillRect(q*scale+1, l*scale+1, scale-1, scale-1);
      }
      q++;
    }
    l++;
  }
}
setInterval(render, 30);
} catch(e) {alert(e)}
</script>
