<div class='users'>
  <button onclick='changeLoop("all")'>See All Online</button>
  <button onclick='changeLoop("one")'>Check One Person</button><input id='input' />
  <div id='output'>
  </div>
</div>
<script>
  var socket = new WebSocket('wss://'+window.location.hostname+'/server');

  var action = 'all';
  setInterval(function() {
    if (action == 'all') {
      retriveAllOnline();
    } else {
      retriveOnePersonStatus();
    }
  }, 1000);
  function changeLoop(d) {
    action = d; 
  }
  function retriveAllOnline() {
    socket.send(JSON.stringify({
      username: sessionStorage.username,
      token: sessionStorage.token,
      operation: 'status',
      task: 'get',
      target: '*'
    }));
    socket.onmessage = function(data) {
      data = JSON.parse(data.data);
      socket.onmessage = function() {};
      var data = data.data;
      document.getElementById('output').innerHTML = '';
      var l = 0;
      while (l<data.length) {
        document.getElementById('output').innerHTML += '<div><span class="username"> '+data[l].name+': </span><span class="status">'+data[l].status+'</span><span class="message"> -> '+data[l].message+'</span></div>';
        l++;
      }
    }
  }
  function retriveOnePersonStatus() {
    if (document.getElementById('input').value == '') return;
    socket.send(JSON.stringify({
      username: sessionStorage.username,
      token: sessionStorage.token,
      operation: 'status',
      task: 'get',
      target: document.getElementById('input').value,
    }));
    socket.onmessage = function(data) {
      data = JSON.parse(data.data);
      socket.onmessage = function() {};
      document.getElementById('output').innerHTML = '<span class="username">'+document.getElementById('input').value+': </span><span class="status">'+data.status+'</span><span class="message"> -> '+data.message+'</span>'
    };
  }
</script>
<style>
  button {
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    border-radius: 2px;
  }
</style>
