header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100px;
  z-index: 100;
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  border-bottom: 4px solid darkgray;
}
  
header img {
  display: inline-block;
  font-size: 20px;
  padding: 0px 0px 0 0;
  vertical-align: middle;
}
  
.nav-button {
  color: black;
  font-family: inherit;
  background-color: white;
  border: none;
  height: 100%;
  text-align: center;
}

.nav-button:hover {
  background-color: orangered;
  color: white;
  border: none;
}
  
#create-account {
  margin-right: 50px;
  float: right;
  text-align: none;
  border: 1px outset #ff4200;
  color: white;
  background-color: orangered;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
  
#create-account:hover {
  background-color: #ff4200;
  border: 1px inset orangered;
}
  
.logo {
  float: left;
  height: 100%;
}

#logo {
  margin-left: 50px;
  vertical-align: middle;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
