* {
  font-size: 30px;
}


.back {
  font-size: 20px;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 40px; 
  width: 40px;
  border-radius: 20px;
}

.back:hover {
  background-color: white;
  color: black;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  font-family: inherit;
  margin: auto;
  border: 1px orangered;
  font-size: 30px;
  padding: 10px;
  color: white;
  background-color: orangered;
  margin-bottom: 5%;
  border-radius: 5px;
}

body {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,69,0,1) 25%, rgba(255,140,0,1) 75%, rgba(255,165,0,1) 100%);
  margin: 0px;
  height: 100%;
}

.content-return {
  color: white;
  text-decoration: none;
}

.form {
  margin: 0px;
  background-color: white;
  width: 30%;
  height: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 35%;
  margin-right: 35%;
  padding: 20px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
}

.content-title {
  font-size: 50px;
}

input {
  color: orangered;
}
