* {
  font-size: 30px;
}
body {
  margin: 0px;
}
.return {
  text-align: left;
}
.return i, .return i a{
  color: white;
}
.content-title-container {
  width: 100%;
  min-height: 200px;
  text-align: center;
  background-color: #060633;
  color: white;
}
h1 {
  margin: 0px;
  padding-top: 25px;
  font-size: 100px;
}
.content-description-container {
  padding-left: 25%;
  padding-top: 50px;
  padding-right: 25%;
  text-align: center;
}
.content-description-container-body {
  text-align: center;
  padding-top: 50px;
  display:flex;
  font-size: 20px;
}
hr {
  width: 90%;
}
i {
  color: gray;  
}
h2 {
  font-size: 50px;
}
li {
  text-align: left;
}
a {
  color: black;
}
.container-flex-ad {
  width: 20%;
}
.container-flex-ad-div {
  position: sticky;
  top: 10px;
}
.container-flex-content {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}
@media only screen and (max-width:800px) {
  .container-flex-ad-div {
    display: none;
  }
}
#svg-1 {
  background-color: #060633;
}
